@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lato', san-serif;
    background-color: white;
    overflow-x: hidden
}



.hide-scrollbar::-webkit-scrollbar{
    display: none;
}